:3000 {
	# Access logs
	log {
		format filter {
			# No need for any headers to be in any of the logs
			# (might be useful to be able to switch these on though?)
			request>headers delete
			resp_headers delete

			wrap json {
				message_key message
				time_key time
				time_format rfc3339
			}
		}
	}

	encode gzip zstd

	# Proxy the Cron Mon API.
	handle /api/* {
		reverse_proxy {$API_HOST}
	}

	# Serve up the frontend application.
	handle {
		root * /srv
		try_files {path}.html {path} /index.html
		file_server
	}
}
